flows/AlchcmyFaces.txt
[{"id":"a3a4d92c.21b8e8","type":"http in","z":"30a5aca1.280f94","name":"","url":"/faces","method":"get","swaggerDoc":"","x":74,"y":51.5,"wires":[["c779c67f.9e339"]]},{"id":"66958d47.f3da1c","type":"template","z":"30a5aca1.280f94","name":"Input","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h1>Welcome to the Alchemy Vision Face Detection Demo on Node-RED</h1>\n<H2>Select an image</H2>\n<form  action=\"{{req._parsedUrl.pathname}}\">\n    <img src=\"https://si.wsj.net/public/resources/images/MK-CK494_SELFIE_GR_20140303174816.jpg\" height='100'/>\n    <img src=\"https://upload.wikimedia.org/wikipedia/commons/f/f1/34th_G8_summit_member_20080707.jpg\" height='100'/>\n    <img src=\"http://demo1.alchemyapi.com/images/vision/politicians.jpg\" height='100'/>\n        <br/>Copy above image location URL or enter any image URL:<br/>\n    Image URL: <input type=\"text\" name=\"imageurl\"/>\n    <input type=\"submit\" value=\"Analyze\"/>\n</form>\n","x":308,"y":90.5,"wires":[["74ae6a11.d2ddf4"]]},{"id":"74ae6a11.d2ddf4","type":"http response","z":"30a5aca1.280f94","name":"HTTP Response","x":709,"y":113,"wires":[]},{"id":"4e252008.8256b","type":"change","z":"30a5aca1.280f94","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.imageurl","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":281,"y":232.5,"wires":[["bcbbe53f.dc8b78"]]},{"id":"bcbbe53f.dc8b78","type":"alchemy-image-analysis","z":"30a5aca1.280f94","name":"","apikey":"","image-feature":"imageFaces","x":457,"y":288,"wires":[["e295c144.78b8e8"]]},{"id":"e295c144.78b8e8","type":"template","z":"30a5aca1.280f94","name":"Result","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h1>Alchemy Image Analysis</h1>\n    <p>Analyzed image: {{payload}}<br/><img id=\"alchemy_image\" src=\"{{payload}}\"/><!-- height=\"50\"/ --></p>\n    {{^result}}\n        <P>No Face detected</P>\n    {{/result}}\n    <table border='1'>\n        <thead><tr><th>Age Range</th><th>Score</th><th>Gender</th><th>Score</th><th>Name</th></tr></thead>\n        {{#result}}<tr>\n            <td><b>{{age.ageRange}}</b></td><td><i>{{age.score}}</i></td>\n            <td>{{gender.gender}}</td><td>{{gender.score}}</td>\n            {{#identity}}<td>{{identity.name}} ({{identity.score}})</td>{{/identity}}\n        </tr>{{/result}}\n    </table>\n    <form  action=\"{{req._parsedUrl.pathname}}\">\n        <input type=\"submit\" value=\"Try again\"/>\n    </form>\n","x":570,"y":223,"wires":[["74ae6a11.d2ddf4"]]},{"id":"c779c67f.9e339","type":"switch","z":"30a5aca1.280f94","name":"","property":"payload.imageurl","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","outputs":2,"x":155,"y":155,"wires":[["66958d47.f3da1c"],["4e252008.8256b"]]}]