flows/Flow1.txt
[{"id":"37525bc8.09e67c","type":"inject","z":"a864b2e9.b9fd88","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":121,"y":82.5,"wires":[["fbc7ce4b.4f2e"]]},{"id":"8bd08d4.343a7f","type":"debug","z":"a864b2e9.b9fd88","name":"","active":true,"console":"false","complete":"false","x":518,"y":87,"wires":[]},{"id":"fbc7ce4b.4f2e","type":"function","z":"a864b2e9.b9fd88","name":"ConvertDateTime","func":"// 前ノードからのデータ取得\nvar serialDate = msg.payload;\n// シリアル値からDateオブジェクトへの変換\nvar date = new Date();\ndate.setTime(serialDate);\n// データの設定\nmsg.payload = date.toString();\n// 次ノードへのデータ連携\nreturn msg;","outputs":1,"noerr":0,"x":313,"y":86.5,"wires":[["8bd08d4.343a7f"]]}]
