flows/Flow4.txt
[{"id":"bdcc97c3.d1c5","type":"http in","z":"29c24454.acdc7c","name":"","url":"/recognize","method":"get","swaggerDoc":"","x":110,"y":76.5,"wires":[["80cde831.74e15"]]},{"id":"e0ce011a.8b6c7","type":"http response","z":"29c24454.acdc7c","name":"HTTP Response","x":667,"y":59,"wires":[]},{"id":"80cde831.74e15","type":"template","z":"29c24454.acdc7c","name":"Input","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <title>Web Application on Node-RED</title>\n    </head>\n    <body>\n        <h1>画像のURLを入力してください。</h1>\n        <form action=\"/recognize\" method=\"POST\">\n            <input type=\"text\" name=\"imageurl\">\n            <input type=\"submit\">\n        </form>\n    </body>\n</html>\n","x":313,"y":69.5,"wires":[["e0ce011a.8b6c7"]]},{"id":"f754a6d.99b1c58","type":"http in","z":"29c24454.acdc7c","name":"","url":"/recognize","method":"post","swaggerDoc":"","x":114,"y":198.5,"wires":[["31f73f84.dfa1f"]]},{"id":"31f73f84.dfa1f","type":"function","z":"29c24454.acdc7c","name":"Extract URL","func":"msg.payload = msg.payload.imageurl;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":202.5,"wires":[["da22cc40.a00b3"]]},{"id":"da22cc40.a00b3","type":"alchemy-image-analysis","z":"29c24454.acdc7c","name":"","apikey":"","image-feature":"imageKeywords","x":474,"y":287,"wires":[["ea49c7ca.57c61"]]},{"id":"ea49c7ca.57c61","type":"template","z":"29c24454.acdc7c","name":"Result","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <title>Watson AlchemyAPI on Node-RED</title>\n    </head>\n    <body>\n        <h1>Node-RED Watson AlchemyAPI 認識結果</h1>\n        <h2>解析対象イメージ image: {{payload}}<br/>\n        <img src=\"{{payload}}\" height='100'/></h2>\n        <table border='1'>\n            <thead><tr><th>名称</th><th>スコア(一致度)</th></tr></thead>\n            <tbody>\n                {{#result}}\n                <tr>\n                    <td><b>{{text}}</b></td><td><i>{{score}}</i></td>\n               </tr>\n               {{/result}}\n            </tbody>\n        </table>\n        <hr/>\n        <form  action=\"/recognize\">\n            <input type=\"submit\" value=\"もう一度解析\"/>\n        </form>\n    </body>\n</html>\n","x":594,"y":192,"wires":[["e0ce011a.8b6c7"]]}]
