flows/Flow2.txt
[{"id":"c5f83740.f1e218","type":"ibmiot in","z":"9a933bce.a296c8","authentication":"quickstart","apiKey":"","inputType":"evt","deviceId":"5638233bd696","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"quickstart","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":63,"y":77,"wires":[["cbce0662.753cc8"]]},{"id":"cbce0662.753cc8","type":"function","z":"9a933bce.a296c8","name":"Temp","func":"return {payload:msg.payload.d.temp};","outputs":1,"noerr":0,"x":198,"y":76.5,"wires":[["668410cb.04572"]]},{"id":"668410cb.04572","type":"switch","z":"9a933bce.a296c8","name":"Temp Thresh","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"40","vt":"str"},{"t":"gt","v":"40","vt":"str"}],"checkall":"true","outputs":2,"x":348,"y":77.5,"wires":[["589879e1.f7ecf"],["7a55004c.6f32a8"]]},{"id":"589879e1.f7ecf","type":"template","z":"9a933bce.a296c8","name":"Safe","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Temperature ({{payload}}) is Safe!","x":512,"y":46.5,"wires":[["2fae0184.eb39e6"]]},{"id":"7a55004c.6f32a8","type":"template","z":"9a933bce.a296c8","name":"Out","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Temperature ({{payload}}) is Out!","x":514,"y":107.5,"wires":[["2fae0184.eb39e6"]]},{"id":"2fae0184.eb39e6","type":"debug","z":"9a933bce.a296c8","name":"","active":true,"console":"false","complete":"false","x":657,"y":81,"wires":[]}]
