flows/NewsCrawl.txt
[{"id":"96b93b08.4429f","type":"http in","z":"de45ef56.8d7158","name":"","url":"/crawl","method":"get","swaggerDoc":"","x":107,"y":76,"wires":[["94560e0b.375ad"]]},{"id":"5a654680.cca588","type":"http response","z":"de45ef56.8d7158","name":"","x":739,"y":130.5,"wires":[]},{"id":"48ecaa73.3b2664","type":"news","z":"de45ef56.8d7158","name":"Crawl news","service":"_ext_","key":"","start":"08/29/2016","end":"09/01/2016","query":"q.enriched.url.entities.entity=|text=Japan,type=company|&q.enriched.url.taxonomy.taxonomy_.label=business%20and%20industrial","custom":true,"queries":[{"field":"enriched.url.taxonomy.taxonomy_.label","op":"cc","value":"Business & Industory"}],"results":["enriched.url.url","enriched.url.title","enriched.url.language","enriched.url.publicationDate.date","enriched.url.text"],"max":10,"mode":"json","x":520,"y":266,"wires":[["2d85d04c.99b08"]]},{"id":"2d85d04c.99b08","type":"template","z":"de45ef56.8d7158","name":"Result","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <title>クローリングの結果</title>\n    </head>\n    <body>\n        {{^payload.result}}\n        <font color=\"red\"><b>no data</b></font>\n        {{/payload.result}}\n        {{#payload.result}}\n        {{#docs}}\n        <br>\n        <table border=\"1\" cellpadding=\"1\" cellspacing=\"0\">\n            <tr><th>Title</th><td>{{source.enriched.url.title}}</td></tr>\n            <tr><th>URL</th><td><a href=\"{{source.enriched.url.url}}\" target=\"_blank\">{{source.enriched.url.url}}</a></td></tr>\n        </table>\n        {{/docs}}\n        {{/payload.result}}\n        <br>\n        <a href=\"/crawl\">再検索</a>    \n    </body>\n</html>\n","x":605,"y":190,"wires":[["5a654680.cca588"]]},{"id":"9b409684.237638","type":"template","z":"de45ef56.8d7158","name":"Input","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<head>\n    <title>AlchemyData News APIの検証</title>\n</head>\n<body>\n    <h2>AlchemyData News APIの検証</h2>\n    <br>\n    <form action=\"{{req._parsedUrl.pathname}}\">\n        <table border=\"1\" cellpadding=\"1\" cellspacing=\"0\">\n            <tr bgcolor=\"aquamarine\"><th>Start</th><td><font color=\"red\">*</font><input type=\"text\" name=\"start\" size=\"20\"> (yyyy/mm/dd)</td></tr>\n            <tr bgcolor=\"lightcyan\"><th>End</th><td><font color=\"red\">*</font><input type=\"text\" name=\"end\" size=\"20\"> (yyyy/mm/dd)</td></tr>\n            <tr bgcolor=\"aquamarine\"><th rowspan=\"2\">Query</th><td>&nbsp;<input type=\"text\" name=\"query\" size=\"80\"></td></tr>\n            <tr bgcolor=\"lightcyan\"><td>(e.g. q.enriched.url.entities.entity=|text=Japan,type=company|&amp;q.enriched.url.taxonomy.taxonomy_.label=business%20and%20industrial)</td></tr>\n        </table>\n        <br/>\n        <input type=\"submit\" value=\"Get News\">\n    </form>\n</body>\n","x":504,"y":97.5,"wires":[["5a654680.cca588"]]},{"id":"94560e0b.375ad","type":"switch","z":"de45ef56.8d7158","name":"","property":"payload.start","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","outputs":2,"x":257,"y":130.5,"wires":[["9b409684.237638"],["baa19c5e.11aec8"]]},{"id":"baa19c5e.11aec8","type":"function","z":"de45ef56.8d7158","name":"Set Condition","func":"var startDate = msg.payload.start.split(\"/\");\nvar start = new Date(startDate[0], startDate[1]-1, startDate[2], 0, 0, 0);\nvar endDate = msg.payload.end.split(\"/\");\nvar end = new Date(endDate[0], endDate[1]-1, endDate[2], 0, 0, 0);\nmsg.start = start.getTime();\nmsg.end = end.getTime();\nif(msg.payload.query!==\"\"){\n    msg.query = msg.payload.query;\n}\n\nmsg.maximum = 50;\n\nreturn msg;","outputs":1,"noerr":0,"x":388,"y":196.5,"wires":[["48ecaa73.3b2664"]]}]