flows/Practice_3.txt
[{"id":"b9fbee05.500c5","type":"http in","z":"d250fc69.6f281","name":"","url":"/hello","method":"get","swaggerDoc":"","x":107,"y":72.5,"wires":[["78547259.7658d4"]]},{"id":"30aef2ce.46d51e","type":"http response","z":"d250fc69.6f281","name":"Http Response","x":584,"y":168,"wires":[]},{"id":"78547259.7658d4","type":"template","z":"d250fc69.6f281","name":"Input","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <title>Web Application on Node-RED</title>\n    </head>\n    <body>\n        <h1>Hello World on Node-RED</h1>\n        <h2>Input your name!</h2>\n        <form action=\"/hello\" method=\"POST\">\n            <input type=\"text\" name=\"name\">\n            <input type=\"submit\">\n        </form>\n    </body>\n</html>\n","x":339,"y":78.5,"wires":[["30aef2ce.46d51e"]]},{"id":"b74c58d4.0c0c7","type":"http in","z":"d250fc69.6f281","name":"","url":"/hello","method":"post","swaggerDoc":"","x":111,"y":212.5,"wires":[["69cf53e5.4e335c"]]},{"id":"69cf53e5.4e335c","type":"template","z":"d250fc69.6f281","name":"Result","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <title>Web Application on Node-RED</title>\n    </head>\n    <body>\n        <h1>Hello World on Node-RED</h1>\n        <h2>\n            Your name is {{payload.name}}\n        </h2>\n    </body>\n</html>\n","x":328,"y":207.5,"wires":[["30aef2ce.46d51e"]]}]
