flows/VisualRecognitionFaces.txt
[{"id":"31fcebe5.2955fc","type":"http in","z":"e29375df.2e045","name":"","url":"/detectFaces","method":"get","swaggerDoc":"","x":106,"y":102,"wires":[["14d4e194.960266"]]},{"id":"14d4e194.960266","type":"switch","z":"e29375df.2e045","name":"","property":"payload.imageurl","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","outputs":2,"x":204,"y":179,"wires":[["1764897d.e8a72f"],["eea47536.3ef4b","4a8051a9.457cb"]]},{"id":"1764897d.e8a72f","type":"template","z":"e29375df.2e045","name":"Input","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <title>Detect Faces (Visual Recognition)</title>\n    </head>\n    <body>\n        <h1>VisualRecognition 顔認識デモ</h1>\n        <H2>画像URLを指定してください</H2>\n        <form  action=\"{{req._parsedUrl.pathname}}\">\n            <br/>\n            Image URL: <input type=\"text\" name=\"imageurl\" size=\"80\"/>\n            <input type=\"submit\" value=\"Analyze\"/>\n        </form>\n    </body>\n</html>\n","x":382,"y":106,"wires":[["49af4ca6.99b224"]]},{"id":"49af4ca6.99b224","type":"http response","z":"e29375df.2e045","name":"","x":773,"y":203.5,"wires":[]},{"id":"eea47536.3ef4b","type":"change","z":"e29375df.2e045","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.imageurl","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":369,"y":279,"wires":[["51fb7b07.9f9914"]]},{"id":"51fb7b07.9f9914","type":"visual-recognition-v3","z":"e29375df.2e045","name":"","apikey":"f039c869d2a870049c966d98469f60aec46ad9b9","image-feature":"detectFaces","lang":"","x":476,"y":192.5,"wires":[["5852b80.4070c48"]]},{"id":"5852b80.4070c48","type":"template","z":"e29375df.2e045","name":"Result","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n<head>\n    <title>Detect Faces Results</title>\n</head>\n<body>\n<h1>VisualRecognition 解析結果</h1>\n    {{^result}}\n        <P>No Face detected</P>\n    {{/result}}\n    {{#result}}\n    Processed images : {{images_processed}}<br>\n    {{#images}}<p>Analyzed image: {{source_url}}<br/><img id=\"alchemy_image\" src=\"{{source_url}}\" height=\"50%\"/></p>\n    <table border='1' cellpadding='1' cellspacing='0'>\n        <thead><tr><th>Age Range (score)</th><th>Gender (score)</th><th>Name (score)</th></tr></thead>\n        {{#faces}}<tr>\n            <td>{{age.min}} - {{age.max}} ({{age.score}})</td>\n            <td>{{gender.gender}} ({{gender.score}})</td>\n            <td>{{#identity.name}}\n                {{identity.name}} ({{identity.score}}){{/identity.name}}\n            </td>\n        </tr>{{/faces}}\n    </table>\n    {{/images}}\n    {{/result}}\n    <form  action=\"{{req._parsedUrl.pathname}}\">\n        <input type=\"submit\" value=\"Try again\"/>\n    </form>\n</body>\n</html>","x":568,"y":270,"wires":[["49af4ca6.99b224"]]},{"id":"4a8051a9.457cb","type":"delay","z":"e29375df.2e045","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":278.5,"y":347,"wires":[["8faae727.f6fd4"]]},{"id":"8faae727.f6fd4","type":"template","z":"e29375df.2e045","name":"Some error occured","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <title>Our apologies</title>\n    </head>\n    <body>\n        <h1>Our apologies</h1>\n        <br>\n        Some error occured. Please check log.\n    </body>\n</html>","x":521.5,"y":359,"wires":[["49af4ca6.99b224"]]}]