flows/VisualRecognitionFaces.txt
[{"id":"62b14ed2.53252","type":"http in","z":"d7824c04.a927a","name":"","url":"/detectFaces","method":"get","swaggerDoc":"","x":115,"y":74,"wires":[["adc44826.973a58"]]},{"id":"adc44826.973a58","type":"switch","z":"d7824c04.a927a","name":"","property":"payload.imageurl","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","outputs":2,"x":273,"y":117,"wires":[["51eb4000.c4548"],["80d8ae3b.b987f"]]},{"id":"51eb4000.c4548","type":"template","z":"d7824c04.a927a","name":"Input","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h1>Welcome to the VisualRecognition Face Detection Demo on Node-RED</h1>\n<H2>Enter any image URL:</H2>\n<form  action=\"{{req._parsedUrl.pathname}}\">\n    <!-- img src=\"https://si.wsj.net/public/resources/images/MK-CK494_SELFIE_GR_20140303174816.jpg\" height='100'/>\n    <img src=\"https://upload.wikimedia.org/wikipedia/commons/f/f1/34th_G8_summit_member_20080707.jpg\" height='100'/>\n    <img src=\"http://demo1.alchemyapi.com/images/vision/politicians.jpg\" height='100'/ -->\n    <br/>\n    Image URL: <input type=\"text\" name=\"imageurl\"/>\n    <input type=\"submit\" value=\"Analyze\"/>\n</form>\n","x":550,"y":45,"wires":[["f1a622a5.c60c1"]]},{"id":"f1a622a5.c60c1","type":"http response","z":"d7824c04.a927a","name":"","x":800,"y":63.5,"wires":[]},{"id":"80d8ae3b.b987f","type":"change","z":"d7824c04.a927a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.imageurl","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":438,"y":160,"wires":[["d8eb0f6d.1f9ed"]]},{"id":"d8eb0f6d.1f9ed","type":"visual-recognition-v3","z":"d7824c04.a927a","name":"","apikey":"f039c869d2a870049c966d98469f60aec46ad9b9","image-feature":"detectFaces","lang":"","x":559,"y":240.5,"wires":[["632cd263.0be64c"]]},{"id":"632cd263.0be64c","type":"template","z":"d7824c04.a927a","name":"Result","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h1>VisualRecognition Image Analysis</h1>\n    {{^result}}\n        <P>No Face detected</P>\n    {{/result}}\n    {{#result}}\n    Processed images : {{images_processed}}<br>\n    {{#images}}<p>Analyzed image: {{source_url}}<br/><img id=\"alchemy_image\" src=\"{{source_url}}\" height=\"50%\"/></p>\n    <table border='1' cellpadding='1' cellspacing='0'>\n        <thead><tr><th>Age Range (score)</th><th>Gender (score)</th><th>Name (score)</th></tr></thead>\n        {{#faces}}<tr>\n            <td>{{age.min}} - {{age.max}} ({{age.score}})</td>\n            <td>{{gender.gender}} ({{gender.score}})</td>\n            {{#identity}}<td>{{identity.name}} ({{identity.score}})</td>{{/identity}}\n        </tr>{{/faces}}\n    </table>\n    {{/images}}\n    {{/result}}\n    <form  action=\"{{req._parsedUrl.pathname}}\">\n        <input type=\"submit\" value=\"Try again\"/>\n    </form>\n","x":670,"y":159,"wires":[["f1a622a5.c60c1"]]}]