flows/VisualRecognitionClassify.txt
[{"id":"2b3a627c.85e7b6","type":"http in","z":"bf5cfa00.ba739","name":"","url":"/recognize","method":"get","swaggerDoc":"","x":118,"y":86,"wires":[["673c649c.a6bcbc"]]},{"id":"673c649c.a6bcbc","type":"template","z":"bf5cfa00.ba739","name":"入力画面","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n<head>\n<title>Web Application on Node-RED</title>\n</head>\n<body>\n<h1>画像のURLを入力してください。</h1>\n<form action=\"{{req._parsedUrl.pathname}}\" method=\"POST\">\n<input type=\"text\" name=\"imageurl\" size=\"80\">\n<input type=\"submit\">\n</form>\n</body>\n</html>","x":415,"y":82,"wires":[["7b1d165d.095b2"]]},{"id":"7b1d165d.095b2","type":"http response","z":"bf5cfa00.ba739","name":"","x":672,"y":184.5,"wires":[]},{"id":"c3d8f027.4a4588","type":"http in","z":"bf5cfa00.ba739","name":"","url":"/recognize","method":"post","swaggerDoc":"","x":103,"y":186,"wires":[["79e98b8d.30387c","a8d6dc09.3032a"]]},{"id":"79e98b8d.30387c","type":"function","z":"bf5cfa00.ba739","name":"URL抽出","func":"msg.payload = msg.payload.imageurl;\nif (context.global.classifier_ids !== undefined) {\n    msg.params = {};\n    msg.params.classifier_ids = context.global.classifier_ids;\n    msg.params.threshold = \"0\";\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":243,"y":145.5,"wires":[["59616816.1428a8"]]},{"id":"9eb97ce6.b079d8","type":"template","z":"bf5cfa00.ba739","name":"結果画面","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <title>Watson VisualRecognition on Node-RED</title>\n    </head>\n    <body>\n        <h1>Node-RED Watson VisualRecognition Classify 認識結果</h1>\n        {{^result}}\n        <br/><font size=\"+2\" color=\"red\">No data</font>\n        {{/result}}\n        {{#result}}\n        {{#images}}\n        <h2>解析対象イメージ</h2> image: {{source_url}}<br/>\n        <img src=\"{{source_url}}\" height='50%'/>\n        <table border='1'>\n            <thead><tr><th>分類</th><th>スコア(一致度)</th></tr></thead>\n            <tbody>\n                {{#classifiers}}\n                {{#classes}}\n                <tr>\n                    <td><b>{{class}}</b></td><td><i>{{score}}</i></td>\n               </tr>\n               {{/classes}}\n                {{/classifiers}}\n            </tbody>\n        </table>\n        {{/images}}\n        {{/result}}\n        <hr/>\n        <form  action=\"{{req._parsedUrl.pathname}}\">\n            <input type=\"submit\" value=\"もう一度解析\"/>\n        </form>\n    </body>\n</html>\n","x":449.7666015625,"y":149.39999389648438,"wires":[["7b1d165d.095b2"]]},{"id":"59616816.1428a8","type":"visual-recognition-v3","z":"bf5cfa00.ba739","name":"","apikey":"","image-feature":"classifyImage","lang":"en","x":353,"y":212.5,"wires":[["9eb97ce6.b079d8"]]},{"id":"a8d6dc09.3032a","type":"delay","z":"bf5cfa00.ba739","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":221,"y":278,"wires":[["53a85f8b.835788"]]},{"id":"53a85f8b.835788","type":"template","z":"bf5cfa00.ba739","name":"Some error occured","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <title>Our apologies</title>\n    </head>\n    <body>\n        <h1>Our apologies</h1>\n        <br>\n        Some error occured. Please check log.\n    </body>\n</html>","x":432,"y":283,"wires":[["7b1d165d.095b2"]]}]