flows/VisualRecognitionClassify.txt
[{"id":"a959c1ee.cf7a28","type":"http in","z":"5fd8f18f.c05de","name":"","url":"/recognize","method":"get","swaggerDoc":"","x":115,"y":63.5,"wires":[["4df79933.de4888"]]},{"id":"dae4fb6.9ee3388","type":"http response","z":"5fd8f18f.c05de","name":"HTTP出力","x":588,"y":64,"wires":[]},{"id":"4df79933.de4888","type":"template","z":"5fd8f18f.c05de","name":"入力画面","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <title>Web Application on Node-RED</title>\n    </head>\n    <body>\n        <h1>画像のURLを入力してください。</h1>\n        <form action=\"{{req._parsedUrl.pathname}}\" method=\"POST\">\n            <input type=\"text\" name=\"imageurl\">\n            <input type=\"submit\">\n        </form>\n    </body>\n</html>\n","x":349,"y":63.5,"wires":[["dae4fb6.9ee3388"]]},{"id":"c9959724.8f19f","type":"visual-recognition-v3","z":"5fd8f18f.c05de","name":"","apikey":"","image-feature":"classifyImage","lang":"en","x":455,"y":162,"wires":[["de52bece.8d53e"]]},{"id":"de52bece.8d53e","type":"template","z":"5fd8f18f.c05de","name":"結果画面","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <title>Watson VisualRecognition on Node-RED</title>\n    </head>\n    <body>\n        <h1>Node-RED Watson VisualRecognition Classify 認識結果</h1>\n        {{^result}}\n        <br/><font size=\"+2\" color=\"red\">No data</font>\n        {{/result}}\n        {{#result}}\n        {{#images}}\n        <h2>解析対象イメージ</h2> image: {{source_url}}<br/>\n        <img src=\"{{source_url}}\" height='50%'/>\n        <table border='1'>\n            <thead><tr><th>分類</th><th>スコア(一致度)</th></tr></thead>\n            <tbody>\n                {{#classifiers}}\n                {{#classes}}\n                <tr>\n                    <td><b>{{class}}</b></td><td><i>{{score}}</i></td>\n               </tr>\n               {{/classes}}\n                {{/classifiers}}\n            </tbody>\n        </table>\n        {{/images}}\n        {{/result}}\n        <hr/>\n        <form  action=\"{{req._parsedUrl.pathname}}\">\n            <input type=\"submit\" value=\"もう一度解析\"/>\n        </form>\n    </body>\n</html>\n","x":614,"y":218.5,"wires":[["ad4ba47a.15f4c"]]},{"id":"da1b48f7.d06ab8","type":"http in","z":"5fd8f18f.c05de","name":"","url":"/recognize","method":"post","swaggerDoc":"","x":113,"y":162.5,"wires":[["15433c5c.0739a4"]]},{"id":"15433c5c.0739a4","type":"function","z":"5fd8f18f.c05de","name":"画像URL抽出","func":"msg.payload = msg.payload.imageurl;\nreturn msg;","outputs":1,"noerr":0,"x":279,"y":212,"wires":[["c9959724.8f19f"]]},{"id":"ad4ba47a.15f4c","type":"http response","z":"5fd8f18f.c05de","name":"HTTP出力","x":754,"y":167,"wires":[]}]