flows/VisualRecognitionClassify.txt
[{"id":"a959c1ee.cf7a28","type":"http in","z":"5fd8f18f.c05de","name":"","url":"/classify","method":"get","swaggerDoc":"","x":106,"y":97.5,"wires":[["2721dcf8.d7b4e4"]]},{"id":"dae4fb6.9ee3388","type":"http response","z":"5fd8f18f.c05de","name":"Response","x":751,"y":60,"wires":[]},{"id":"4df79933.de4888","type":"template","z":"5fd8f18f.c05de","name":"Input","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <title>Web Application on Node-RED</title>\n    </head>\n    <body>\n        <h1>画像のURLを入力してください。</h1>\n        <form action=\"{{req._parsedUrl.pathname}}\">\n            <input type=\"text\" name=\"imageurl\">\n            <input type=\"submit\">\n        </form>\n    </body>\n</html>\n","x":458,"y":52.5,"wires":[["dae4fb6.9ee3388"]]},{"id":"2721dcf8.d7b4e4","type":"switch","z":"5fd8f18f.c05de","name":"","property":"payload.imageurl","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","outputs":2,"x":272,"y":97.5,"wires":[["4df79933.de4888"],["6f535109.df2b48"]]},{"id":"6f535109.df2b48","type":"change","z":"5fd8f18f.c05de","name":"Extract url","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.imageurl","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":426,"y":166.5,"wires":[["c9959724.8f19f"]]},{"id":"c9959724.8f19f","type":"visual-recognition-v3","z":"5fd8f18f.c05de","name":"","apikey":"","image-feature":"classifyImage","lang":"ja","x":555,"y":243,"wires":[["de52bece.8d53e"]]},{"id":"de52bece.8d53e","type":"template","z":"5fd8f18f.c05de","name":"Results","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <title>Watson VisualRecognition on Node-RED</title>\n    </head>\n    <body>\n        <h1>Node-RED Watson VisualRecognition Classify 認識結果</h1>\n        {{^result}}\n        <br/><font size=\"+2\" color=\"red\">No data</font>\n        {{/result}}\n        {{#result}}\n        {{#images}}\n        <h2>解析対象イメージ</h2> image: {{source_url}}<br/>\n        <img src=\"{{source_url}}\" height='50%'/>\n        <table border='1'>\n            <thead><tr><th>分類ID</th><th>分類名</th><th>クラス</th><th>スコア(一致度)</th></tr></thead>\n            <tbody>\n                {{#classifiers}}\n                {{#classes}}\n                <tr>\n                    <td>{{classifier_id}}</td><td>{{name}}</td><td><b>{{class}}</b></td><td><i>{{score}}</i></td>\n               </tr>\n               {{/classes}}\n                {{/classifiers}}\n            </tbody>\n        </table>\n        {{/images}}\n        {{/result}}\n        <hr/>\n        <form  action=\"{{req._parsedUrl.pathname}}\">\n            <input type=\"submit\" value=\"もう一度解析\"/>\n        </form>\n    </body>\n</html>\n","x":676,"y":163.5,"wires":[["dae4fb6.9ee3388"]]}]