flows/VisualRecognitionText.txt
[{"id":"6de25e7a.627e3","type":"http in","z":"7941639a.d2bff4","name":"","url":"/vrText","method":"get","swaggerDoc":"","x":100,"y":119,"wires":[["227d8a98.19799e"]]},{"id":"450674bf.5213c4","type":"http response","z":"7941639a.d2bff4","name":"Response","x":745,"y":81.5,"wires":[]},{"id":"a3dd467.577dfb8","type":"template","z":"7941639a.d2bff4","name":"Input","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <title>Web Application on Node-RED</title>\n    </head>\n    <body>\n        <h1>画像のURLを入力してください。</h1>\n        <form action=\"{{req._parsedUrl.pathname}}\">\n            <input type=\"text\" name=\"imageurl\">\n            <input type=\"submit\">\n        </form>\n    </body>\n</html>\n","x":452,"y":74,"wires":[["450674bf.5213c4"]]},{"id":"227d8a98.19799e","type":"switch","z":"7941639a.d2bff4","name":"","property":"payload.imageurl","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","outputs":2,"x":266,"y":119,"wires":[["a3dd467.577dfb8"],["4c4459a4.32a348"]]},{"id":"4c4459a4.32a348","type":"change","z":"7941639a.d2bff4","name":"Extract url","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.imageurl","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":188,"wires":[["f3251c11.4616b8"]]},{"id":"f3251c11.4616b8","type":"visual-recognition-v3","z":"7941639a.d2bff4","name":"","apikey":"","image-feature":"recognizeText","lang":"ja","x":549,"y":264.5,"wires":[["b9a6a1f5.71274"]]},{"id":"b9a6a1f5.71274","type":"template","z":"7941639a.d2bff4","name":"Results","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <title>Watson VisualRecognition on Node-RED</title>\n    </head>\n    <body>\n        <h1>Node-RED Watson VisualRecognition Recognize Text 認識結果</h1>\n        {{^result}}\n        <br/><font size=\"+2\" color=\"red\">No data</font>\n        {{/result}}\n        {{#result}}\n        {{#images}}\n        <h2>解析対象イメージ</h2> image: {{source_url}}<br/>\n        <img src=\"{{source_url}}\" height='50%'/><br/>\n        {{text}}<br/>\n        <table border='1'>\n            <thead><tr><th>単語</th><th>スコア(一致度)</th></tr></thead>\n            <tbody>\n                {{#words}}\n                <tr>\n                    <td><b>{{word}}</b></td><td><i>{{score}}</i></td>\n               </tr>\n               {{/words}}\n            </tbody>\n        </table>\n        {{/images}}\n        {{/result}}\n        <hr/>\n        <form  action=\"{{req._parsedUrl.pathname}}\">\n            <input type=\"submit\" value=\"もう一度解析\"/>\n        </form>\n    </body>\n</html>\n","x":670,"y":185,"wires":[["450674bf.5213c4"]]}]